
#settingsMenuButton, #micMenuButton, #textToSpeechMenuButton, #videoTransMenuButton, #infoMenuButton {
    -fx-background-color: "#000";
    -fx-min-width: 35px;
    -fx-min-height: 35px;
    -fx-cursor: hand;
}


#settingsMenuButton:hover, #micMenuButton:hover, #textToSpeechMenuButton:hover, #videoTransMenuButton:hover, #infoMenuButton:hover {
    -fx-background-color: #D2E4F1;
}
#settingsMenuButton:focused,#micMenuButton:focused,#textToSpeechMenuButton:focused,#videoTransMenuButton:focused,#infoMenuButton:focused{
    -fx-background-color: #D2E4F1;
}


#settingsMenuButton {
    -fx-background-image: url("./icons/reglages.png");
    -fx-background-size: 30px 30px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

#micMenuButton {
    -fx-background-image: url("./icons/microphone.png");
    -fx-background-size: 30px 30px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

#infoMenuButton {
    -fx-background-image: url("./icons/interrogatoire.png");
    -fx-background-size: 30px 30px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

#textToSpeechMenuButton {
    -fx-background-image: url("./icons/document.png");
    -fx-background-size: 30px 30px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

#videoTransMenuButton {
    -fx-background-image: url("./icons/video-camera-alt.png");
    -fx-background-size: 30px 30px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

