.root {
    -fx-font-family: Inter;
}

.label {
    -fx-text-fill: "white";
}

.choice-box .label {
    -fx-text-fill: #000;
}

#exportButton{
    -fx-background-color: #6BA6DD;
}
#exportButton:hover{
    -fx-background-color: #ABDBE3;

}

